{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Login{% endblock title %}
{% block content %}
    

                                    <h4 class="font-size-18 text-muted mt-2 text-center">Welcome Back !</h4>
                                    <p class="mb-5 text-center">Sign in to continue to Upzet.</p>
                                    <form class="form-horizontal" action="{% url 'account_login' %}" method="POST" enctype="multipart/form-data">
                                        
                                        {% csrf_token %}
                                        {% for message in messages %}
                                                <div class="alert {{message.tags}} mb-4 text-center" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                        {% endfor %} 
                                        {% for error in errors  %}
                                            <div class="alert alert-danger mb-4" role="alert">
                                                    <strong>{{ error }}</strong>
                                                </div>
                                        {% endfor %}
                                        
                                        {{ form|crispy}}

                                        <div class="d-grid mt-3">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit">Log In</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <hr>
                                            <h5 class="font-size-14 mb-3">Sign in with</h5>
                                            
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="{% provider_login_url 'google' %}" class="social-list-item bg-danger text-white border-danger font-size-20">
                                                        <i class="mdi mdi-google"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="{% provider_login_url 'facebook' %}" class="social-list-item bg-info text-white border-primary font-size-20">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                    <div class="text-center">
                                            <a href="{% url 'account_reset_password' %}" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white-50">Don't have an account ? <a href="{% url 'account_signup' %}" class="fw-medium text-primary"> Register </a> </p>
                            <p class="text-white-50"><script>document.write(new Date().getFullYear())</script> © Praise App.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end Account pages -->
{% endblock content %}
