{% extends 'account/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    

                                    <h4 class="font-size-18 text-muted mt-2 text-center">Reset Password</h4>
                                    <div class="alert alert-success text-center">
                                        We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
                                    </div>
                                    <div class="text-center"><a class="btn btn-primary" href="{% url 'dashboard'%}">Home</a>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white-50"><script>document.write(new Date().getFullYear())</script> © Praise App.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end Account pages -->
{% endblock content %}
