{% extends 'account/base.html' %}
{% load static %}
{% block title %}Email Verification{% endblock title %}
{% block content %}
    

                                    
                                    {% for message in messages %}
                                        <div class="alert {{ message.tags }} mb-0 mt-3 text-center" role="alert">
                                            <strong>{{ message }}</strong>
                                        </div>
                                    {% endfor %}
                                        <div class="text-center pt-3">
                                            <h5>Verify Your Email Address</h5>
                                            <p class="text-muted">We have sent e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us you received few minutes.</p>
                                            <a href="/" class="btn btn-primary shadow-none">Back to Home</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white-50"><script>document.write(new Date().getFullYear())</script> © Praise App.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end Account pages -->
{% endblock content %}
