{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Arquivos estáticos -->
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <link rel="stylesheet" href="{% static '/styles/index.css' %}">
    {%block style%}{%endblock%}

    <!-- Ícones -->
    <script src="https://kit.fontawesome.com/3b48aa32f5.js" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        {%block title%}
        {%endblock%}
</head>
<body>

    {%block content%}
    {%endblock%}



    <script type="module" src="{% static '/js/main.js'%}"></script>
    
    {%block script%}
    {%endblock%}
</body>
</html>