<div class="col-12">
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{{song.featured_image}}" alt="image_song" class="img-fluid w-100 praise__featured-image">
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12">
                <div class="card-body d-flex flex-column justify-content-between h-100">
                    <div class="praise__song-info-header">
                        <h6 class="praise__author">{{song.artist}}</h6>
                        <h1 class="praise__name">{{song.song_name}}</h1>
                    </div>
                    <h3 class="praise__matters">{{song.matters}}</h3>
                </div>
            </div>
        </div>


    </div>

</div>

<hr>