<div>
    <h4>Ouça</h4>
    <div class="row mb-3 d-flex align-items-center">
        <div class="col-sm-12 col-md-6">
            <a href="{{song.spotify}}" target="_blank" class="btn btn-success w-100">
                <i class="fab fa-spotify mr-3"></i>
                Spotify
            </a>
        </div>

        <div class="col-sm-12 col-md-6">
            <a href="{{song.ytmusic}}" target="_blank" class="btn btn-success w-100 my-3">
                <i class="fab fa-youtube mr-3"></i>
                YouTube Music
            </a>
        </div>
    </div>
</div>