.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.praise__logo {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 1rem;
}

#songs_table {
  margin-top: 2rem;
}