{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block extra_css %}
        <!-- jvectormap -->
        <link href="{% static 'libs/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet" />
{% endblock extra_css %}
{% block content %}
                {% if user.is_authenticated %}
                {% if messages %}
                {% for message in messages %}
                <input type="hidden" id="login-msg" value="{{message}}">
                <button type="button" class="btn btn-primary" id="borderedToast1Btn" hidden>Primary toast</button>
                <div style="z-index: 11">
                    <div id="borderedToast1" class="toast overflow-hidden mt-3" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="align-items-center text-white bg-primary border-0">
                            <div class="d-flex">
                                <div class="toast-body">
                                    {{message}}
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Ministério de Louvor</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Upzet</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row mt-3">
                            <div class="col-12">
                                <table id="songs_table" class="row-border hover stripe" style="width:100%">
                                    <button class="btn btn-primary mb-5">
                                        <a href="{% url 'new_song' %}" style="text-align:end" class="text-white">Adicionar nova musica</a>
                                        <i class="fas fa-plus ml-5"></i>
                                    </button>
                                    <thead>
                                        <tr>                					
                                            <th>Nome</th>
                                            <th>Voz</th>
                                            <th>Instrumental</th>
                                            <th>Ver tudo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if songs %}
                                            {% for song in songs %}
                                            <tr>
                                                <td>{{ song.song_name }}</td>
                                                <td><a href="{% url 'voice' song.id %}"><i class="fas fa-eye"></i></a></td>
                                                <td><a href="{% url 'instrumental' song.id %}"><i class="fas fa-eye"></i></a></td>
                                                <td><a href="{% url 'song' song.id %}"><i class="fas fa-eye"></i></a></td>
                                            </tr>
                                            {%endfor%}
                                        {% else %}
                                        <tr>
                                            <td colspan="4">There is no data to display</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                {% endif %}
{% endblock content %}
{% block extra_javascript %}

<!-- Datatable -->
<script>
    $('#songs_table').DataTable();
</script>

        <!-- apexcharts js -->
        <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
        
        <!-- jquery.vectormap map -->
        <script src="{% static 'libs/jqvmap/dist/jquery.vmap.min.js' %}"></script>
        <script src="{% static 'libs/jqvmap/dist/maps/jquery.vmap.usa.js' %}"></script>
        
        <!-- Bootstrap Toasts Js -->
        <script src="{% static 'js/pages/bootstrap-toasts.init.js' %}"></script>

        <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock extra_javascript %} 