{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Ministério de Louvor{% endblock title %}
{% block extra_css %}
        <!-- jvectormap -->
        <link href="{% static 'libs/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.jqueryui.css">
{% endblock extra_css %}

{% block content %}
                {% if user.is_authenticated %}
                {% comment %} {% if messages %}
                {% for message in messages %}
                <input type="hidden" id="login-msg" value="{{message}}">
                <button type="button" class="btn btn-primary" id="borderedToast1Btn" hidden>Primary toast</button>
                <div style="z-index: 11">
                    <div id="borderedToast1" class="toast overflow-hidden mt-3" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="align-items-center text-white bg-primary border-0">
                            <div class="d-flex">
                                <div class="toast-body">
                                    {{message}}
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %} {% endcomment %}
                <div class="page-content">
                    <div class="container-fluid">
                        {% include 'partials/_alerts.html'%}
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Ministério de Louvor</h4>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row mt-3">
                            <div class="col-12 d-flex justify-content-center justify-content-sm-end">
                                <a href="{% url 'new_song' %}" style="text-align:end" class="text-white">
                                    <button class="btn btn-primary mb-5">
                                        Adicionar nova música
                                        <i class="fas fa-plus ml-5"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="col-12">
                                <table id="songs_table" class="row-border hover stripe display responsive nowrap" cellsspacing="0" style="width:100%">
                                    <thead>
                                        <tr>                					
                                            <th data-priority="1">Nome</th>
                                            <th class="text-center" data-priority="2">Assunto</th>
                                            <th class="text-center" data-priority="3">Voz</th>
                                            <th class="text-center" data-priority="4">Instrumental</th>
                                            <th class="text-center" data-priority="5">Ver tudo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if songs %}
                                            {% for song in songs %}
                                            <tr>
                                                <td>{{ song.song_name }}</td>
                                                <td class="text-center">{{ song.matters }}</td>
                                                <td class="text-center"><a href="{% url 'voice' song.id %}"><span class="badge bg-primary">Ver mais detalhes</span></a></td>
                                                <td class="text-center"><a href="{% url 'instrumental' song.id %}"><span class="badge bg-primary">Ver mais detalhes</span></a></td>
                                                <td class="text-center"><a href="{% url 'song' song.id %}"><span class="badge bg-primary">Ver mais detalhes</span></a></td>
                                            </tr>
                                            {%endfor%}
                                        {% else %}
                                        <tr>
                                            <td colspan="4">There is no data to display</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                {% endif %}
{% endblock content %}
{% block extra_javascript %}

<!-- Datatable -->
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.js"></script>
<script>
    $(document).ready( function () {
        $('#songs_table').DataTable({
            responsive: true,
            columnDefs: [
                {responsivePriority: 1, targets: 0},
                {responsivePriority: 2, targets: -1}    
            ]
        });
    } );
</script>        
        <!-- Bootstrap Toasts Js -->
        <script src="{% static 'js/pages/bootstrap-toasts.init.js' %}"></script>

        <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock extra_javascript %} 