{%extends 'partials/base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" href="{% static '/styles/instrumental.css' %}">
{%endblock%}

{%block title%}
{{song.song_name}} - Praise App
{%endblock%}

{%block content%}
<input type="hidden" name="instrumental" class="instrumental-page">
<div class="page-content px-5">
    {%include 'partials/_header_info.html'%}

    <main class="row">
        <div class="col-sm-12 col-md-6 mb-3">
            <h2 class="praise__section-title">Cifra</h2>
            <a href="{{song.cipher}" download target="_blank"> ir para Cifra</a><br />
        </div>

        <div class="col-sm-12 col-md-6">
            {% include 'partials/_listen.html' %}

            <!-- <a href="" class="praise__instrumental-download"><i class="fas fa-download"></i>Baixar Cifra</a> -->

            {% if song.acoustic_guitar %}
            <div class="praise__instrumental-ag mb-3">
                <input type="hidden" name="video" class="acoustic_guitar" value="{{song.acoustic_guitar}}">
                <h4>Violão</h4>
                <div class="ratio ratio-16x9">
                    <iframe class="youtube-embeded-acoustic_guitar" width="560" src="" height="315"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            {%endif%}

            {%if song.electric_guitar %}
            <div class="praise__instrumental-eg mb-3">
                <input type="hidden" name="video" class="electric_guitar" value="{{song.electric_guitar}}">
                <h4>Guitarra</h4>
                <div class="ratio ratio-16x9">
                    <iframe class="youtube-embeded-electric_guitar" width="560" src="" height="315"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            {%endif%}

            {%if song.keyboard %}
            <div class="praise__intrumental-kb mb-3">
                <input type="hidden" name="video" class="keyboard" value="{{song.keyboard}}">
                <h4>Teclado</h4>
                <div class="ratio ratio-16x9">
                    <iframe class="youtube-embeded-keyboard" width="560" src="" height="315"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            {%endif%}

            {%if song.bass %}
            <div class="praise__intrumental-bass mb-3">
                <input type="hidden" name="video" class="bass" value="{{song.bass}}">
                <h4>Baixo</h4>
                <div class="ratio ratio-16x9">
                    <iframe class="youtube-embeded-bass" width="560" src="" height="315" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            {%endif%}

            {%if song.drums %}
            <div class="praise__intrumental-drums mb-3">
                <input type="hidden" name="video" class="drums" value="{{song.drums}}">
                <h4>Bateria</h4>
                <div class="ratio ratio-16x9">
                    <iframe class="youtube-embeded-drums" width="560" src="" height="315" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            {%endif%}

            {%if song.instrumental_file %}
            <div class="praise__intrumental-file mb-3">
                <a href="{{song.instrumental_file.url}}" download target="_blank">Download</a><br />
            </div>
            {%endif%}

            {% include 'partials/_note.html' %}
        </div>
    </main>
</div>
{%include 'partials/_footer.html'%}
{%endblock%}