{%extends 'base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" href="{% static '/styles/new_song.css' %}">
{%endblock%}

{%block title%}
    <title>Nova Música - Praise App</title>
{%endblock%}

{%block content%}
<div class="container">
    {%include 'partials/_header.html'%}

    <h1>Nova Música</h1>

    <form action="{% url 'new_song' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Geral</h4>
        <div class="praise__form">
            <div class="form_row">
                <label for="is_posted">
                    Exibir música na lista
                    <input type="checkbox" name="is_posted" id="is_posted">
                </label>
            </div>

            <div class="form_row">
                <label for="song_name">
                    Nome da música*
                    <input required type="text" name="song_name" id="song_name">
                </label>
            </div>

            {% if artists %}
                <div class="form-row">
                    <label for="artist">
                        Artista*
                        <select name="artist" id="artist" required>
                            <option selected="true" disabled="disabled">Selecionar um artista</option>
                            {% for artist in artists %}
                            <option value="{{artist.name}}">{{artist.name}}</option>
                            {%endfor%}
                        </select>
                    </label>
                </div>
            {% endif %}

            <div class="form-row">
                <label for="matters">
                    Assunto*
                    <input type="text" name="matters" id="matters" required>
                </label>
            </div>

            <div class="form-row">
                <label for="video">
                    Vídeo*
                    <input type="url" name="video" id="video" required>
                </label>
            </div>

            <div class="form-row">
                <label for="playback">
                    Playback
                    <input type="url" name="playback" id="playback">
                </label>
            </div>

            <div class="form-row">
                <label for="spotify">
                    Spotify*
                    <input type="url" name="spotify" id="spotify" required>
                </label>
            </div>

            <div class="form-row">
                <label for="ytmusic">
                    YouTube Music*
                    <input type="url" name="ytmusic" id="ytmusic" required>
                </label>
            </div>

            <div class="form-row">
                <label for="featured_image">
                    Imagem de Destaque
                    <input type="url" name="featured_image" id="featured_image">
                </label>
            </div>

            <div class="form-row">
                <label for="note">
                    Observações
                    <textarea id="note" name="note"
                            rows="5" cols="33">
                    </textarea>
                </label>
            </div>

            <hr>

            <h4>Vozes</h4>

            <div class="form-row">
                <label for="lyric">
                    Letra*
                    <textarea id="lyric" name="lyric"
                            rows="5" cols="33" required>
                    </textarea>
                </label>
            </div>

            <h5>Vídeos</h5>

            <div class="form-row">
                <label for="voices">
                    Vozes
                    <input type="url" name="voices" id="voices">
                </label>
            </div>

            <div class="form-row">
                <label for="extra_voice">
                    Vozes (Extra)
                    <input type="url" name="extra_voice" id="extra_voice">
                </label>
            </div>

            <div class="form-row">
                <label for="voice_file">
                    Arquivo para vocal
                    <input type="file" name="voice_file" id="voice_file">
                </label>
            </div>

            <hr>

            <h4>Instrumental</h4>

            <div class="form-row">
                <label for="tone">
                    Tom*
                    <input type="text" name="tone" id="tone" required>
                </label>
            </div>

            <div class="form-row">
                <label for="cipher">
                    Cifra*
                    <input type="text" name="cipher" id="cipher" required>
                </label>
            </div>

            <div class="form-row">
                <label for="bpm">
                    BPM*
                    <input type="number" name="bpm" id="bpm" required>
                </label>
            </div>

            <h5>Vídeos</h5>
            <div class="form-row">
                <label for="acoustic_guitar">
                    Versão Violão
                    <input type="url" name="acoustic_guitar" id="acoustic_guitar">
                </label>
            </div>

            <div class="form-row">
                <label for="electric_guitar">
                    Versão Guitarra
                    <input type="url" name="electric_guitar" id="electric_guitar">
                </label>
            </div>

            <div class="form-row">
                <label for="keyboard">
                    Versão Teclado
                    <input type="url" name="keyboard" id="keyboard">
                </label>
            </div>

            <div class="form-row">
                <label for="bass">
                    Versão Baixo
                    <input type="url" name="bass" id="bass">
                </label>
            </div>

            <div class="form-row">
                <label for="drums">
                    Versão Bateria
                    <input type="url" name="drums" id="drums">
                </label>
            </div>

            <div class="form-row">
                <label for="instrumental_file">
                    Arquivo para instrumental
                    <input type="file" name="instrumental_file" id="instrumental_file">
                </label>
            </div>
        </div>

        <button type="submit">Cadastrar música</button>
    </form>
</div>
{%endblock%}