{%extends 'partials/base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" href="{% static '/styles/voice.css' %}">
{%endblock%}

{%block title%}
{{song.song_name}} - Praise App
{%endblock%}

{%block content%}
<input type="hidden" name="voice" class="voice-page">
<input type="hidden" name="video" class="song-lyric" value="{{song.lyric}}">

<div class="page-content px-5">
        {%include 'partials/_header_info.html'%}

    <main class="row">
        <div class="col-sm-12 col-md-6 mb-3">
            <h2 class="praise__section-title">Letra</h2>
            <span class="praise__voice-lyrics"></span>
        </div>
        <!-- inicio voices -->
        <div class="col-sm-12 col-md-6">
            {% include 'partials/_listen.html' %}

            <!-- <a href="" class="praise__voice-download"><i class="fas fa-download"></i>Baixar Letra</a> -->
            
            {% if song.voices %}
            <div class="praise__voice-voices mb-3">
                <input type="hidden" name="video" class="voices" value="{{song.voices}}">
                <h4>Vozes</h4>
                <div class="ratio ratio-16x9">
                    <iframe 
                    class="youtube-embeded-voices"
                    width="560" 
                    src=""
                    height="315" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen></iframe>
                </div>
            </div>
            {% endif %}
            <!-- fim voices -->

             <!-- inicio extra-voices -->
            {% if song.extra_voice %}
            <div class="praise__voice-extra_voice mb-3">
                <input type="hidden" name="video" class="extraVoices" value="{{song.extra_voice}}">
                <h4>Extra</h4>
                <div class="ratio ratio-16x9">
                    <iframe 
                    class="youtube-embeded-extra_voice"
                    width="560" 
                    src=""
                    height="315" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen></iframe>
                </div>
            </div>
            {% endif %}

            {% include 'partials/_note.html' %}
        </div>
    </main>
    </div>

{%include 'partials/_footer.html'%}
{%endblock%}