.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.praise__logo {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .center {
    text-align: center;
  }