a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary);
}

hr {
  margin: 2rem 0;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.praise__logo {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 1rem;
}

#songs_table_wrapper {
  margin-top: 2rem;
}

main {
  display: flex;
  justify-content: space-between;
  gap: var(--gap1);
  position: relative;
}

.praise__section-title {
  font-size: var(--text-2xl);
  margin-bottom: .5rem;
}


.praise__header-song {
  display: flex;
  gap: var(--gap2);
  margin-bottom: 1rem;
}

.praise__featured-image {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
}

.praise__song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.praise__matters {
  font-size: var(--text-xs);
}

.praise__name {
  font-size: var(--text-5xl);
}

.praise__author {
  font-size: var(--text-sm);
}


.praise__instrumental-side {
  position: sticky;
  top: 1rem;
}

.praise__tone {
  display: flex;
}

.praise__tone {
  display: flex;
  gap: var(--gap1);
  align-items: center;
  margin-bottom: 1rem;
}   

.praise__tone-display {
  font-weight: bolder;
}

.praise__see-cipher {
  display: flex;
  gap: var(--gap);

  background-color: var(--primary);
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 1rem;
}


.praise__listen {
  margin: 1rem 0 2rem;
  display: flex;
  gap: var(--gap2);
}


.praise__listen a {
  padding: .5rem 1rem;
  border-radius: 1rem;
  display: flex;
  gap: var(--gap1);
  align-items: center;
}


.praise__spotify {
  background-color: #1ed760;
  border: 1px solid;
  border-color: #1ed760;
}

.praise__youtube {
  background-color: #F00;
  border: 1px solid;
  border-color: #FF0000;
}

.praise__spotify,
.praise__youtube {
  color: var(--white)!important;
}


@media screen and (max-width: 600px) {
  .praise__listen {
    display: flex;
    flex-direction: column;
    gap: var(--gap2);
    width: 100%;
  }
}