* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    /* colors */
    --black: #020100;
    --white: #FDFFFC;
    --gray: #ececec;

    --primary: #1982C4;
    --success: #8AC926;

    --warning: #F1D302;
    --error: #FDFFFC;


    /* font-sizes */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-5xl: 4rem; /* 40px */
    
    /* font-weight */
    --normal: 400;
    --bold: 700;

    /* gap */
    --gap: .5rem;
    --gap1: 1rem;
    --gap1x: 1.5rem;
    --gap2: 2rem;
}