.praise__voice {
    display: flex;
    gap: var(--gap1);
}

.praise__voice-infos,
.praise__voice-voices,
.praise__voice-extra_voice {
    display: flex;
    flex-direction: column;
}

.praise__voice-infos {
    gap: var(--gap2);
}

.praise__voice-download {
    display: flex;
    gap: var(--gap1);
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: 1rem;
    width: fit-content; /* impede que o botão fica gigante por causa do display-flex do pai dele */
}


@media screen and (max-width: 950px) {
    .praise__voice {
        display: flex;
        flex-direction: column;
        gap: var(--gap1);
    }
  }