{% extends 'account/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}


<h4 class="font-size-18 text-muted mt-2 text-center">Bem vindo(a) de volta!</h4>
<p class="mb-3 text-center">Faça login para continuar no Praise App.</p>
<form action="{% url 'login' %}" method="POST">
	{% csrf_token %}

	<div class="mb-3">
		<label for="email" class="form-label">Email:</label>
		<input type="email" name="email" id="email" class="form-control">
	</div>

	<div class="mb-3">
		<label for="password" class="form-label">Senha:</label>
		<input type="password" name="password" id="password" class="form-control">
	</div>

	<div class="d-flex flex-column text-center">
		<button type="submit" class="btn btn-primary mb-3">Entrar</button>
		<a href="{% url 'register' %}">Ainda não tem uma conta?</a>
	</div>

</form>
</div>
</div>
</div>
<div class="mt-5 text-center">
	<p class="text-white-50">
		<script>document.write(new Date().getFullYear())</script> © Praise App.
	</p>
</div>
</div>
</div>
<!-- end row -->
</div>
</div>
<!-- end Account pages -->
{% endblock content %}